:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1vh 1em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.app {
  background-color: #afb7be;
  padding: 1vh 3vw;
  border-radius: 12px;
}

form ul {
  list-style: none;
  padding: 1rem;
  height: 48vh;
  width: 40vw;
  background-color: #606264;
  border-radius: 12px;
  overflow-x: hidden;
}
form input {
  height: 4vh;
  margin-right: 0.6vw;
  width: 36vw;
}
form div {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}
form ul li {
  margin-bottom: 2vh;
  width: 100%;
}
form ul li span {
  font-size: 1.4rem;
}
form ul li p {
  margin-left: 3vw;
}

form ul li.me {
  display: flex;
  justify-content: flex-start;
}

form ul li.other {
  display: flex;
  justify-content: flex-end;
}

